.item.item-abanoz-odunu {
    background-image: url('../items/abanoz-odunu.png');
}

.item.item-beril {
    background-image: url('../items/beril.png');
}

.item.item-ciban-otu {
    background-image: url('../items/ciban-otu.png');
}

.item.item-krizoberil {
    background-image: url('../items/krizoberil.png');
}

.item.item-mantar {
    background-image: url('../items/mantar.png');
}

.item.item-mavi-safir {
    background-image: url('../items/mavi-safir.png');
}

.item.item-serbetci-otu {
    background-image: url('../items/serbetci-otu.png');
}

.item.item-topaz {
    background-image: url('../items/topaz.png');
}

.item.item-tungsten {
    background-image: url('../items/tungsten.png');
}

.item.item-adacayi-yapragi {
    background-image: url('../items/adacayi-yapragi.png');
}

.item.item-nikel {
    background-image: url('../items/nikel.png');
}

.item.item-turkuaz {
    background-image: url('../items/turkuaz.png');
}

.item.item-acik-mavi-lapis {
    background-image: url('../items/acik-mavi-lapis.png');
}

.item.item-akcaagac-odunu {
    background-image: url('../items/akcaagac-odunu.png');
}

.item.item-altin {
    background-image: url('../items/altin.png');
}

.item.item-ametist {
    background-image: url('../items/ametist.png');
}

.item.item-bakir {
    background-image: url('../items/bakir.png');
}

.item.item-ceviz-yapragi {
    background-image: url('../items/ceviz-yapragi.png');
}

.item.item-civan-percemi {
    background-image: url('../items/civan-percemi.png');
}

.item.item-demir {
    background-image: url('../items/demir.png');
}

.item.item-elmas {
    background-image: url('../items/elmas.png');
}

.item.item-gumus {
    background-image: url('../items/gumus.png');
}

.item.item-isirgan-otu {
    background-image: url('../items/isirgan-otu.png');
}

.item.item-kalay {
    background-image: url('../items/kalay.png');
}

.item.item-kalsedon {
    background-image: url('../items/kalsedon.png');
}

.item.item-kantasi {
    background-image: url('../items/kantasi.png');
}

.item.item-koni-yapragi {
    background-image: url('../items/koni-yapragi.png');
}

.item.item-krom {
    background-image: url('../items/krom.png');
}

.item.item-kursun {
    background-image: url('../items/kursun.png');
}

.item.item-kuvars {
    background-image: url('../items/kuvars.png');
}

.item.item-mese-odunu {
    background-image: url('../items/mese-odunu.png');
}

.item.item-obsidyen {
    background-image: url('../items/obsidyen.png');
}

.item.item-okse-otu {
    background-image: url('../items/okse-otu.png');
}

.item.item-cigdem {
    background-image: url('../items/cigdem.png');
}

.item.item-meteorit {
    background-image: url('../items/meteorit.png');
}

.item.item-monazit {
    background-image: url('../items/monazit.png');
}

.item.item-yesim-tasi {
    background-image: url('../items/yesim-tasi.png');
}

.item.item-platin {
    background-image: url('../items/platin.png');
}

.item.item-titanyum {
    background-image: url('../items/titanyum.png');
}
